<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="title">
    <h1>Calculatrice Polonaise</h1>
  </div>
  <div class="ecran">
    {{ resultat }}
  </div>
  <div class="calculatrice">
    <div class="chiffre">
      <button (click)="clickNumber('1')">1</button>
    </div>
    <div class="chiffre">
      <button  (click)="clickNumber('2')">2</button>
    </div>
    <div class="chiffre">
      <button (click)="clickNumber('3')">3</button>
    </div>
    <div class="signe">
      <button (click)="additionner()">+</button>
    </div>
  </div>
  <div class="calculatrice">
    <div class="chiffre">
      <button (click)="clickNumber('4')">4</button>
    </div>
    <div class="chiffre">
      <button (click)="clickNumber('5')">5</button>
    </div>
    <div class="chiffre">
      <button (click)="clickNumber('6')">6</button>
    </div>
    <div class="signe">
      <button>-</button>
    </div>
  </div>
  <div class="calculatrice">
    <div class="chiffre">
      <button (click)="clickNumber('7')">7</button>
    </div>
    <div class="chiffre">
      <button (click)="clickNumber('8')">8</button>
    </div>
    <div class="chiffre">
      <button (click)="clickNumber('9')">9</button>
    </div>
    <div class="signe">
      <button>/</button>
    </div>
  </div>
  <div class="calculatrice">
    <div class="signe">
      <button (click)="clickDel()">DEL</button>
    </div>
    <div class="chiffre">
      <button (click)="clickNumber('0')">0</button>
    </div>
    <div class="signe">
      <button (click)="clickCalculatrice()">ENTER</button>
    </div>
    <div class="signe">
      <button>*</button>
    </div>
  </div>
  <div *ngFor="let o of operation">
    {{ o }}
  </div>
  Résultat: {{ resultat}}
</div>
